<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServiciosCaserita</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>
		ServletCaserita</display-name>
    <servlet-name>ServletCaserita</servlet-name>
    <servlet-class>cl.caserita.servlet.ServletCaserita</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		CaserServlet</display-name>
    <servlet-name>CaserServlet</servlet-name>
    <servlet-class>cl.caserita.servlet.CaserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		RecepcionServlet</display-name>
    <servlet-name>RecepcionServlet</servlet-name>
    <servlet-class>cl.caserita.recepcion.servlet.RecepcionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ConsultaDocumentos</display-name>
    <servlet-name>ConsultaDocumentos</servlet-name>
    <servlet-class>cl.caserita.servlet.paginas.ConsultaDocumentos</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		generaFacturaOC</display-name>
    <servlet-name>generaFacturaOC</servlet-name>
    <servlet-class>cl.caserita.genera.Servlet.generaFacturaOC</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		LibroServlet</display-name>
    <servlet-name>LibroServlet</servlet-name>
    <servlet-class>cl.caserita.libros.Servlet.LibroServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		AnulaGuia</display-name>
    <servlet-name>AnulaGuia</servlet-name>
    <servlet-class>cl.caserita.genera.anulaGuia.Servlet.AnulaGuia</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ProcesaEstadoSII</display-name>
    <servlet-name>ProcesaEstadoSII</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaEstadoSII</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ProcesaReenvioDocumento</display-name>
    <servlet-name>ProcesaReenvioDocumento</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaReenvioDocumento</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ProcesaAprobacion</display-name>
    <servlet-name>ProcesaAprobacion</servlet-name>
    <servlet-class>cl.caserita.genera.Servlet.ProcesaAprobacion</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ProcesaInformeGasto</display-name>
    <servlet-name>ProcesaInformeGasto</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaInformeGasto</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		AmbienteQA</display-name>
    <servlet-name>AmbienteQA</servlet-name>
    <servlet-class>cl.caserita.servlet.paginas.AmbienteQA</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		GeneraNCProblema</display-name>
    <servlet-name>GeneraNCProblema</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.GeneraNCProblema</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		InformeDocumentoProveedor</display-name>
    <servlet-name>InformeDocumentoProveedor</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.InformeDocumentoProveedor</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ProcesaDocumentoCliente</display-name>
    <servlet-name>ProcesaDocumentoCliente</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaDocumentoCliente</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ProcesaDocumentosRecepcionXDia</display-name>
    <servlet-name>ProcesaDocumentosRecepcionXDia</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaDocumentosRecepcionXDia</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ProcesaDocDia</display-name>
    <servlet-name>ProcesaDocDia</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaDocDia</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ProcesaPDFIndividual</display-name>
    <servlet-name>ProcesaPDFIndividual</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaPDFIndividual</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		AprobacionRechazoSII</display-name>
    <servlet-name>AprobacionRechazoSII</servlet-name>
    <servlet-class>cl.caserita.genera.Servlet.AprobacionRechazoSII</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		MigracionDirecciones</display-name>
    <servlet-name>MigracionDirecciones</servlet-name>
    <servlet-class>cl.caserita.integracion.servlet.MigracionDirecciones</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ManualesSYSCON</display-name>
    <servlet-name>ManualesSYSCON</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ManualesSYSCON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCaserita</servlet-name>
    <url-pattern>
		/ServletCaserita</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaserServlet</servlet-name>
    <url-pattern>
		/CaserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecepcionServlet</servlet-name>
    <url-pattern>
		/RecepcionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConsultaDocumentos</servlet-name>
    <url-pattern>
		/ConsultaDocumentos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>generaFacturaOC</servlet-name>
    <url-pattern>
		/generaFacturaOC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LibroServlet</servlet-name>
    <url-pattern>
		/LibroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnulaGuia</servlet-name>
    <url-pattern>
		/AnulaGuia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcesaEstadoSII</servlet-name>
    <url-pattern>
		/ProcesaEstadoSII</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcesaReenvioDocumento</servlet-name>
    <url-pattern>
		/ProcesaReenvioDocumento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcesaAprobacion</servlet-name>
    <url-pattern>
		/ProcesaAprobacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcesaInformeGasto</servlet-name>
    <url-pattern>
		/ProcesaInformeGasto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AmbienteQA</servlet-name>
    <url-pattern>
		/AmbienteQA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneraNCProblema</servlet-name>
    <url-pattern>
		/GeneraNCProblema</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InformeDocumentoProveedor</servlet-name>
    <url-pattern>
		/InformeDocumentoProveedor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcesaDocumentoCliente</servlet-name>
    <url-pattern>
		/ProcesaDocumentoCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcesaDocumentosRecepcionXDia</servlet-name>
    <url-pattern>
		/ProcesaDocumentosRecepcionXDia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcesaDocDia</servlet-name>
    <url-pattern>
		/ProcesaDocDia</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcesaPDFIndividual</servlet-name>
    <url-pattern>
		/ProcesaPDFIndividual</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AprobacionRechazoSII</servlet-name>
    <url-pattern>
		/AprobacionRechazoSII</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MigracionDirecciones</servlet-name>
    <url-pattern>
		/MigracionDirecciones</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManualesSYSCON</servlet-name>
    <url-pattern>
		/ManualesSYSCON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaInformePrecio</display-name>
    <servlet-name>ProcesaInformePrecio</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaInformePrecio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaInformePrecio</servlet-name>
    <url-pattern>/ProcesaInformePrecio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaInformeIntegridad</display-name>
    <servlet-name>ProcesaInformeIntegridad</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaInformeIntegridad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaInformeIntegridad</servlet-name>
    <url-pattern>/ProcesaInformeIntegridad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentosPDF</display-name>
    <servlet-name>DocumentosPDF</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.DocumentosPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentosPDF</servlet-name>
    <url-pattern>/DocumentosPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaCaracteres</display-name>
    <servlet-name>ProcesaCaracteres</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaCaracteres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaCaracteres</servlet-name>
    <url-pattern>/ProcesaCaracteres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaInformeStock</display-name>
    <servlet-name>ProcesaInformeStock</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaInformeStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaInformeStock</servlet-name>
    <url-pattern>/ProcesaInformeStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentoTicket</display-name>
    <servlet-name>DocumentoTicket</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.DocumentoTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentoTicket</servlet-name>
    <url-pattern>/DocumentoTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaCarpetaTicket</display-name>
    <servlet-name>ProcesaCarpetaTicket</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaCarpetaTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaCarpetaTicket</servlet-name>
    <url-pattern>/ProcesaCarpetaTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaMailGestion</display-name>
    <servlet-name>ProcesaMailGestion</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.ProcesaMailGestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaMailGestion</servlet-name>
    <url-pattern>/ProcesaMailGestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaAlertaExdacp</display-name>
    <servlet-name>ProcesaAlertaExdacp</servlet-name>
    <servlet-class>cl.caserita.alerta.mail.ProcesaAlertaExdacp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaAlertaExdacp</servlet-name>
    <url-pattern>/ProcesaAlertaExdacp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaAlertaExmarb</display-name>
    <servlet-name>ProcesaAlertaExmarb</servlet-name>
    <servlet-class>cl.caserita.alerta.mail.ProcesaAlertaExmarb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaAlertaExmarb</servlet-name>
    <url-pattern>/ProcesaAlertaExmarb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentoPDFBodega</display-name>
    <servlet-name>DocumentoPDFBodega</servlet-name>
    <servlet-class>cl.caserita.procesos.servlet.DocumentoPDFBodega</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentoPDFBodega</servlet-name>
    <url-pattern>/DocumentoPDFBodega</url-pattern>
  </servlet-mapping>
</web-app>